.start-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2em;
}

.start-button:hover {
  /* max-width: 31em; */
}

.infobox span {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
