@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


body {
  height: 100vh;
  margin: 0;
  font-family: monospace;
  font-size: 15px;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  padding-top: 100px;
}

/* HEADER */

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B86C2;
  background-image: linear-gradient(#0b5e80, #0B86C2);

}

header img {
  height: 100%;
}

nav {
  position: absolute;
}

nav a {
  color: white;
  text-shadow: 2px 1px black;
  margin: 1em;
}

/* HUVUDBAKGRUND */

main {
  background-color: black;
  /* background-image: url(./images/nes_remix_banner.jpg); */
  background-size: contain;
  height: 80%;
  display: flex;
  justify-content: center;
}

section {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #844646;
}

.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 30%;
  min-width: 20%;
  height: 80%;
  padding: 1em 2.5em;
  margin: 2em;
  overflow: auto;
}

.infobox h1 {
  margin: .5em 0;
  font-size: 2em;
}

.infobox p {
  font-size: 1em;
}

.infobox ul {
  padding: 0;
  margin: 0;
}

.infobox li {
  margin: 5px;
}

.glhf {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.start-button {
  width: 35em;
  height: 15em;
  padding: 0;
  margin: 2em;
  background-color: #844646;
  border: none;
  /* padding: 0;
  margin: 2em;
  background-color: #844646;
  border: none;
  font-family: monospace;
font-size: 17px; */
}

.start-button a {
  display: flex;
  align-items: center;
  position: relative;
}

.start-button img {
  width: 100%;
}

.start-button-text {
  width: 100%;
  margin: 0;
  position: absolute;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 3px red;
}

/* FOOTER */

footer {
  height: 10%;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06DBB6;
  background-image: linear-gradient(#06DBB6, #13b397);
}

/* STARTSIDA */

.start-page {
  height: 100%;
  width: 75%;
display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: darkgray;
  background-image: url(./images/bakgrundsbild_lighter_opt.jpg);
  background-size: cover;
  background-position: top;
}

.start-img {
  margin: 2em 0;
  height: 17.5%;
}

/* GISSA ORDET-SIDA */

.guess-the-word-page {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #844646;
  font-size: 1.1em;
  border: 20px solid black;
  box-sizing: border-box;
  border-radius: 24px;
  background-image: linear-gradient(to bottom right, #0f4239, #169880, #186759);
}

.usersList {
  display: none;
}

.start-button-guessword {
  max-width: 350px;
}

.animation {
  font-size: 1.2em;
  animation-name: pointAnimation;
  animation-duration: 1.5s;
}
.textAnimation {
  font-size: 1.2em;
  animation-name: textAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pointAnimation {
  0% {font-size: 1.2em;}
  50% {font-size: 2em;}
  100% {font-size: 1.2em;}
}
@keyframes textAnimation {
  0% {font-size: 1.2em;}
  100% {font-size: 2em;}
}

button.knappen {
  background-color: #0b86c2;
  border: 1px solid #0a6b9a;
  border-radius: 4px;
  height: 35px;
  font-family: monospace;
  font-size: 15px;
  padding: 1px 20px;
  font-weight: bold;
  color: #f5f3f3;
}

button.knappen:hover, button.knappen:focus {
  background-color: #0a6b9a;
  border-color: #095a82;
}

/* SHOTGUN-SIDA */

.shotgun-page {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #844646;
}

.shotgun-page .infobox ul {
  font-size: .8em;
}

.shotgun-page .start-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}

.interface {
  margin: 2em;
  align-self: center;
  width: 15em;
  height: 17.5em;
  text-align: center;
}

.interface .buttons {
  /* border: solid; */
  display: flex;
  justify-content: space-between;
}

/* STEN SAX PÅSE-SIDA */

.rock-paper-scissors-page {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #844646;
}
