body {
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #844646;
  padding: 2em;
  /* height: 100vh; */
}

.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* färg på inforuta? */
  background-color: lightgray;

  width: 20em;
  min-width: 10em;
  height: 37.5em;
  padding: 1em 3em;
  margin: 1em;
  overflow: scroll;
}

.infobox h1 {
  font-size: 2em;
}

.infobox p {
  font-size: .8em;
}

.infobox ul {
  padding: 0;
  margin: 0;
}

.infobox li {
  margin: 5px;
}

.glhf {
  font-size: 2em;
  margin-top: 1em;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  cursor: pointer;
}

.start-button-2 {
  margin: 1em;
}

.start-button-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button-3 {
  padding: 0;
  margin: 1em;
  background-color: #844646;
  border: #844646;
}

.start-button-3 a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button-text {
  margin: 0;
  position: absolute;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 3px red;
}
